<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>CryptoBot</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="js/angular.js"></script>

</head>

<body>
  <h1>CryptoBot</h1>
  <div class="container" ng-controller="CryptoController as coin">
    <form class="search-form">
      <input
        type="text"
        class="search"
        placeholder="Search Crypto"
        ng-click="showSearch=true"
        ng-change="coin.onSearch();"
        ng-model="coin.searchedCoin">

      <ul class="suggestions">
          <li ng-show="showSearch"  ng-repeat="coins in coin.list">
            <span>{{coins.name}} ({{coins.symbol}})</span>
            <span>${{coins.price_usd}}</span></li>
      </ul>
    </form>


    <div class="list">
      <h2>Saved Coins</h2>
      <ul class="savedCoins">
        <li></li>
      </ul>
      <!-- <button class="clearList">Clear List</button> -->
    </div>
  </div>
  <script src='js/app.js'></script>
  <script src='js/crypto.controller.js'></script>
  <script src='js/crypto.service.js'></script>
</body>
<html>
