<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>CryptoBot</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/angular.js"></script>

</head>

<body>
  <h1>CryptoBot</h1>
  <div class="container" ng-controller="CryptoController as coin">
      <form class="search-form">
          <input
            type="text"
            class="search"
            placeholder="Search Crypto"
            ng-change="coin.showSearch();"
            ng-model="coin.searchedCoin">

          <ul class="suggestions">
              <li ng-hide="coin.showSearch();" ng-repeat="coins in coin.list | filter:coin.searchedCoin">
                  <span>{{coins.name}} ({{coins.symbol}})</span>
                  <span>${{coins.price_usd}}</span>
                  <span><button ng-click="coin.addToList(coins, $index);">Add</button></span>
              </li>
          </ul>
      </form>

    <div class="list">
      <h2>Saved Coins</h2>
      <ul class="savedCoins">
        <li ng-repeat="i in coin.savedCoins">
          <span>{{i.name}} ({{i.symbol}})</span>
          <span>${{i.price_usd}}</span>
          <span class="price">$
            <input
              type="text"
              class="add-price"
              placeholder="Alert Price"
              ng-submit="coin.setPrice();"
              ng-model="coin.price">
          </span>
          <span><button ng-click="coin.removeCoin(i, $index);">-</button></span>
        </li>
      </ul>
    </div>
  </div>
  <script src='js/app.js'></script>
  <script src='js/crypto.controller.js'></script>
  <script src='js/crypto.service.js'></script>
</body>
<html>
